@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

// Fonts
$main-font: 'Quicksand', sans-serif;

// Font Sizes
$main-size: 1rem;
$small-size: .8rem;
$big-size: 2.5rem;

// Colors
$main-color: rgba(29, 31, 34, 0.94);
$grey-color: #8d8f9a;

// Weight
$light: 300;
$semi-bold: 500;
$bold: 600;
